.navigation{
  background:linear-gradient(45deg,#000000 30%, #F2F2F2 90%);
  overflow: hidden;
}
.rightMenu{
  float: right;
  margin-right: 5%;
}
.leftMenu{
  margin-left: 5%;
}
.linkLeft{
  text-decoration: none;
  color:#F2F5A9;
}
.linkRight{
  text-decoration: none;
  color:#F7819F;
}
.buttonAnim{
  transition: all .9s ease-in-out;
}
.buttonAnim:hover{
  transform: scale(1.1);
}
.formPaper{
  background:linear-gradient(45deg,#85C1E9 30%, #154360 90%);
}
.submitButton{
  width: 100%;
  transition: all .9s ease-in-out;
}
.submitButton:hover{
  transform: scale(1.1);
}
.mainStyle{
  background:linear-gradient(45deg,#F2F2F2 70%,#4ABB9E 20%);
}
.searchButtons{
  background:linear-gradient(45deg,#4ABB9E 20%,#F2F2F2 70%);
  width:50%;
}
.filterCheckBox{
  float: right;
}
.contentField{
    word-break: break-all;
}
.helperText{
  color:red !important;
}
@media (min-width:600px){
  .firstCenterDiv{
      display:flex;
  }
  .secondCenterDiv{
      margin:auto;
      width:70%;
  }
}

@media (max-width:600px){
  .helperText{
    font-size:calc(1.5vw + 5px) !important;
  }
  .linkRight{
    font-size:calc(2vw + 10px);
  }
  .linkLeft{
    font-size:calc(2vw + 5px) !important;
  }
  .contentField{
    font-size:calc(2vw + 5px) !important;
  }
  .searchButtons{
    font-size:calc(1.5vw + 5px) !important;
  }
  .selectProp{
    font-size:calc(3vw + 3px) !important;
  }
}

@media (orientation: landscape) and (max-width:600px){
  .helperText{
    font-size:calc(1.5vw + 5px) !important;
  }
  .linkRight{
    font-size:calc(2vw + 10px);
  }
  .linkLeft{
    font-size:calc(2vw + 2px) !important;
  }
  .contentField{
    font-size:calc(2vw + 2px) !important;
  }
  .searchButtons{
    font-size:calc(1.5vw + 5px) !important;
  }
  .selectProp{
    font-size:calc(3vw + 3px) !important;
  }
}