.cardTitle{
    margin-left:10%;
    margin-top:5%;
    display: inline-block;
}

@media (max-width:600px){
    .cardTitle{
        font-size: calc(2.5vw + 3px);
    }
}

@media (orientation: landscape) and (max-width:600px){
    .cardTitle{
        font-size: calc(2.5vw + 3px);
    }
}